// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

/* .link {
  display: inline-block;
} */

.gallery {
  display: flex;

  &__column {
    display: flex;
    flex-direction: column;
  }
}
